*,*::before, *::after{
    box-sizing: border-box;
}
*{
    padding: 0;
    margin: 0;
    border: 0;
}
h1, h2, h3, h4, h5, h6, p{
    margin: 0;
    padding: 0;
}
img{
    display: block;
    max-width: 100%;
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
button::-moz-focus-inner{
    padding: 0;border: 0;
}
ul li{
    list-style: none;
}
input,button,textarea{
    font-family: inherit;
}
:root{
    /* --green: #009378; */
   
}

/* poppins 600, 700
mulish 400, 700 */

body{
    /* margin: 0;
    font-family: 'Poppins', sans-serif;
    font-weight: 600; */
}
.container_mein {
    /* max-width: 1280px;
    min-width: 300px;
    margin: 0 auto; */
}